<div class="slds-grid slds-grid--vertical-stretch">
    <div class="slds-col slds-size--1-of-6">
        {{> adminnav }}
    </div>
    <div class="slds-col slds-size--5-of-6">
        
    </div>
</div>