<div class="slds-grid slds-grid_pull-padded-medium">
    {{#each items}}
    <div class="slds-col slds-p-horizontal_medium slds-large-size--1-of-4 slds-medium-size--1-of-4">
        <p>{{this.snippet.title}}</p>
    </div>
    {{/each}}
</div>