<div class="slds-grid slds-wrap" style="width:100%;">
    {{#each items}}
    <div class="slds-size_1-of-3 slds-p-horizontal_medium slds-m-bottom_medium">
        <div class="slds-box">
            <h2 class="slds-text-title_caps slds-truncate" title="{{this.snippet.title}}">{{this.snippet.title}}</h2>
            <div>
                <img src="{{this.snippet.thumbnails.medium.url}}" alt="{{this.snippet.description}}"/>
            </div>
        </div>
    </div>
    {{/each}}
</div>